html, body
  padding: 0
  margin: 0
  height: 100%
#root
  height: 100%
  .app
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    .note-lines
      width: 200px
      display: flex
      justify-content: space-between
    .play-button
      color: #666
      border: 2px solid #ddd
      width: 50px
      height: 50px
      background: transparent
      border-radius: 50%
      margin: 20px 0 30px 0
      outline: none
