.hit-outer {
  transform-origin: 50% 50%;
}

.hit-outer.hit-outer--animate {
  animation-name: grow-and-fade;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.hit-inner {
  transform-origin: 50% 50%;
  transition: 0.1s ease-out;
}

.hit-inner.hit-inner--highlight {
  animation-name: highlight;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.hit-inner.hit-inner--animate {
  transform: scale(1.8);
}

@keyframes grow-and-fade {
    from {transform: scale(1); opacity: 1.0}
    to {transform: scale(8); opacity: 0.0}
}

@keyframes highlight {
    50% {fill: white}
}
